.gallary-container {
  color: var(--main-color);
  .gallary-nav {
    display: grid;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--lighter-main-color);
    h1 {
      font-family: "Montserrat";
      font-size: 1.5rem;
      font-weight: 800;
      margin: 0;
    }
  }
  .showcase {
    display: grid;
    margin-top: 2rem;
    row-gap: 2rem;
    padding: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      padding: 1.5rem;
    }
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
      padding: 1.5rem;
    }
  }
  .showcase-empty {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.5);
  }
}
