.registration-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 38rem;
  background-color: white;
  box-shadow: 0px 4px 4px 2px rgba($color: #000000, $alpha: 0.25);
  border-radius: 20px;
  .form-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border-radius: 150px;
    background-color: white;
    box-shadow: 0px 4px 4px 2px rgba($color: #000000, $alpha: 0.25);
    top: -3rem;
    h3 {
      font-family: var(--styled-font);
      text-shadow: 0 4px 7px var(--secondary-color);
      font-size: 1.6rem;
    }
  }
  .message {
    margin-top: 5.6rem;
    font-weight: 500;
    font-family: var(--secondary-font);
  }
  .form-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 80%;
    background-color: #f0f0f0;
    border-radius: 0px 0px 20px 20px;
    h5 {
      font-size: 0.8rem;
      font-weight: 300;
      margin-top: 1rem;
    }
    .single-sign-on {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 17rem;
      margin-top: 1rem;
      .sign-on-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        border-radius: 20px;
        background-color: white;
        width: 7.5rem;
        height: 2rem;
        font-size: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .input {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .input-icon {
        margin-right: 0.5rem;
        color: blue;
      }
      .form-input {
        border: none;
        border-radius: 10px;
        height: 2rem;
        width: 20rem;
        font-size: 1rem;
        text-indent: 1rem;
        font-family: var(--secondary-font);
        transition: box-shadow, border;
        transition-duration: 250ms;
        &:focus {
          outline: none;
          box-shadow: 3px 3px 4px 2px rgba($color: #000000, $alpha: 0.25);
        }
      }
      .form-error {
        border: 0.3px solid var(--error-color);
        border-radius: 10px;
        color: var(--error-color);
        height: 2rem;
        width: 20rem;
        font-size: 1rem;
        text-indent: 1rem;
        font-family: var(--secondary-font);
        transition-duration: 250ms;
        &:focus {
          outline-color: var(--error-color);
          box-shadow: 3px 3px 4px 2px rgba($color: #000000, $alpha: 0.25);
        }
      }
    }
    .sign-up-btn {
      margin-top: 4rem;
      border: none;
      border-radius: 10px;
      width: 21rem;
      height: 1.8rem;
      background-image: linear-gradient(
        45deg,
        var(--secondary-color),
        var(--accent-color)
      );
      color: white;
      font-size: 1rem;
      font-family: var(--secondary-font);
      font-weight: 700;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
