.authpage {
  display: grid;
  grid-template-rows: 15% 60% auto;
  background-color: #f1f2fa;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  .nav {
    display: flex;
    width: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    .btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: none;
      width: 6rem;
      height: 2.3rem;
      background-color: rgba($color: #fff, $alpha: 0.5);
      border-radius: 20px;
      padding: 7px 12px;
      color: white;
      font-weight: 800;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .forms {
    display: grid;
    justify-items: center;
  }
}

.question {
  display: grid;
  justify-items: center;
  margin-top: 1rem;
  h3 {
    font-weight: 300;
    font-size: 1rem;
    strong {
      color: white;
      text-decoration: underline;
    }
  }
}
