.navigation {
  display: grid;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--lighter-main-color);
  color: var(--main-color);
  h1 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
  }
}
